version: 2.1

jobs:
  smoke_test:
      docker:
        - image: alpine:latest
      steps:
        - run: apk add --update curl
        - run:
            name: smoke test.
            command: |
              URL="https://blog.udacity.com/"
              if curl -s --head ${URL} # test if blog.udacity. com exists
              then
                echo "success"
                return 0
              else
                echo "failure"
                return 1
              fi

workflows:
  my_workflow:
    jobs:
      - smoke_test: