# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.
orbs:
  # Declare a dependency on the welcome-orb
  welcome: circleci/welcome-orb@0.4.1
# Orchestrate or schedule a set of jobs
jobs:
  save_hello_world_output:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run:
          name: print
          command: |
            echo "text to output here" > output.txt
    persist_to_workspace:
        root: home/anupam/Learning/Udacity
        paths:
          - Exerises/output.txt
  print_hello_world_output:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run:
          name: print
          command: |
            cat Exerises/output.txt
    attach_workspace:
        at: home/anupam/Learning/Udacity/
  print_hello:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run:
          name: print
          command: |
            echo "hello"
            echo $Myname
  print_world:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run:
          name: print
          command: |
            echo "world"
workflows:
  # Name the workflow "welcome"
  welcome:
    # Run the welcome/run job in its own container
    jobs:
      - welcome/run
      - print_hello
      - print_world:
          requires:
            -  print_hello
